/*
 * Noto Sans Tibetan (Tibetan) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Tibetan';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Tibetan'), local('NotoSansTibetan'),
       url('../fonts/noto-sans-tibetan-v1-ea/NotoSansTibetan-Regular.woff2') format('woff2'),
       url('../fonts/noto-sans-tibetan-v1-ea/NotoSansTibetan-Regular.woff') format('woff');
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}