



div.action-bar {
	position:relative;
	height:36px;
	& div.actions {
		position:absolute;
		top:10px;
		height:36px;
		& button.button--material--flat.firstCardAction {
	    padding: 0 16px 0 0;
		}
	}
}
