div.PDFDownload {
  padding:16px;
  text-align:center;

  & h1 {
    font-size:18px;
  }

  & .fabContainer {
    margin-bottom:10px;
    & .fab {
      margin:0 15px 15px 15px;
      & .fab__icon {
        line-height:56px;
      }
    }
  }
}
