.aboutPageContent {
  padding:0 16px 16px 16px;

  /*
  & p {
    & a {
      color:#326550;
      &:active {
        color:#326550;
      }
      &:visited {
        color:#326550;
      }
    }
  }
  */
  
}