div.action-bar {
	position:relative;
	height:36px;
  margin-top: 12px;
  border-top: 1px solid #f7f7f7;

	& div.actions {
		position:absolute;
		top:10px;
		height:36px;

		& button.button--material--flat.firstCardAction {
	    padding: 0 16px 0 0;
		}
	
	}
	
}
