.scan_container {
  
  display:flex;
  flex-flow: wrap;

  & .scan_block {
    
    width:280px;
    margin:20px auto;

     text-align: center;

    & h2 {
      font-size:20px;
      font-weight: 400;
      line-height: 25px;
      margin: .6em 0;
     
    }

    & img {
      width:100%;
    }
  }
}