
/*
.search-input--material {
	line-height: 24px;
}
*/
div.search-input-wrapper {
  position:relative;
  & a {
    position: absolute;
    top: 8px;
    right: 20px;
  }
  & #SearchInput {
    width:100%;
    padding-top:4px;
    padding-right: 52px;
    &.focused {
      background-color: rgba(246, 245, 223, .25)
    }
    &::placeholder {
      padding-top:0px;
    }
  }
}


