
/*
.search-input--material {
	line-height: 24px;
}
*/

#SearchInput {
  width:100%;
  padding-top:4px;
  &.focused {
    background-color: rgba(246, 245, 223, .25)
  }
  &::placeholder {
    padding-top:0px;
  }

}

