
div.search-results {
	& div.status {
		text-align: center;
		padding:16px;
		margin:0px;
		font-weight: normal;
	}
}

.button--material--flat.firstCardAction {
	    padding: 0 16px 0 0;
}

.bubbleWrapper {
	margin-top:10px;
	margin-bottom:36px;
	text-align: center;
}
