div.updatesAvailable {
  border: 1px solid #5a0003;
  padding: 8px 0 16px 0;
  margin: 16px;
  border-radius: 8px;
  & p {
    margin-left:16px;
    margin-right:16px;
  }
  & button {
    margin-left:16px;
  }
  & a.viewChangeLog {
    display:block;
    margin-top:24px;
    margin-left:16px;
    font-size:14px;
  }
}

i.radio {
  color:#717171;
  font-size: 24px;
  margin-left: 1px;
  margin-bottom: 4px;
}

i.radio.selected {
  color: #5a0003;
}
